@using PSS.Utils
@using PSS.Utils.Constants

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@View.Error</title>
</head>
<body>
    <hgroup>
        <h1>@View.Error</h1>
        <h2>@Global.Error.ToString()</h2>
    </hgroup>
</body>
</html>
